@media only screen and (min-width: 760px) {
#mobileHeader { display: none; }
#wrapper { margin-top: 94px; width: 80%; padding: 20px; max-width: 1080px; background-color: #CCCCCC; box-shadow: 0 0 50px rgba(0, 0, 0, 1); }
#article { width: 75%; float:right; box-shadow: 0 0 5px rgba(0,0,0,0.3); }
#site #container { float: left; min-width: 55%; max-width: 65%; }
body { background-color: #666666; }
.articlewrapper { width: 80%; padding: 20px; max-width: 1080px; background-color: #CCCCCC; }
.helparea { width: 80%; margin-top: 90px; }
#pagesPanel { border-top: thin dotted #999999; border-bottom: thin dotted #999999; float: right; }
.resultsPagination { display: block; }
h1 { font-size: 60px; }
.topcolourtitle { padding: 20px; }
.featuredArticle { margin-left: -40px; margin-right: -40px; }
.titleRecommended { margin-right: -40px; }
.helparea { box-shadow: 0 0 50px rgba(0, 0, 0, 1); }
#mainsection .mainsectionmenu { float: left; }
#mainTitle { font-size: 60px; margin-top: 14%; min-height: 400px; }
	}
@media only screen and (max-width: 760px) {
#header { display: none; }
#leftmenu { display: none; }
#wrapper { margin-top: 50px; width: 100%; padding-bottom: 20px; background-color: #FFFFFF }
#site { padding: 10px; }
body { background-color: #FFFFFF; }
.articlewrapper { padding-bottom: 20px; width: 100%; }
.helparea { margin-top: 40px; }
.resultsPagination { display: none; }
.topcolourtitle { max-width: 100%; padding-left: 20px; padding-right: 23px; padding-top: 5px; padding-bottom: 0px; }
.featuredArticle { margin-left: -38px; margin-right: -38px; }
.titleRecommended { margin-right: -38px; }
h1 { font-size: 30px; }
#mainsection .mainsectionmenu { float: none; }
#mainTitle { font-size: 20px; margin-top: 25%; margin-bottom: 10px; }
	}