@media only screen and (min-width: 1024px) {
#mobileHeader { display: none; }
#wrapper { margin-top: 94px; width: 80%; padding: 20px; max-width: 1080px; box-shadow: 0 0 50px rgba(0, 0, 0, 1); background-color: #CCCCCC; }
#article { width: 70%; float:right; padding-top: 27px; padding-bottom: 27px; padding-right: 27px; box-shadow: 0 0 5px rgba(0,0,0,0.3); border-top: 25px solid #3E3E3E; border-bottom: 25px solid #3E3E3E; }
#site #container { float: left; min-width: 55%; max-width: 65%; }
body { background-color: #666666; }
.articlewrapper { width: 80%; padding: 20px; max-width: 1080px; background-color: #CCCCCC; box-shadow: 0 0 50px rgba(0, 0, 0, 1); }
.languagepicker { margin-top: -30px; }
.helparea { width: 80%; margin-top: 90px; }
#pagesPanel { border-top: thin dotted #999999; border-bottom: thin dotted #999999; float: right; }
.resultsPagination { display: block; }
h1, h4 { font-size: 300%; line-height: 0.9; }
.topcolourtitle {
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}
.featuredArticle { margin-left: -40px; margin-right: -40px; }
.titleRecommended { margin-right: -40px; }
.helparea { box-shadow: 0 0 50px rgba(0, 0, 0, 1); }
#mainsection .mainsectionmenu { float: left; }
#mainTitle { font-size: 60px; margin-top: 14%; min-height: 400px; }
#globalfooter { margin-left: -20px; margin-right: -20px; }
.descBox { background-color: #D8D8D8; }
.helparea #footer #globalfooter { margin: -25px; }
.leftsec { float: left; }
.rightsec { float: right; }
.resourcestwentypad {
	padding-top: 3em;
	padding-bottom: 3em;
}
	}
@media only screen and (max-width: 1024px) {
#header { display: none; }
#leftmenu { display: none; }
#wrapper { margin-top: 50px; width: 100%; padding-bottom: 0px; background-color: #FFFFFF; }
.articlewrapper #site #content #article { border-top: 25px solid #50BACC; }
#site { padding: 10px; }
body { background-color: #FFFFFF; }
.articlewrapper { width: 100%; }
.languagepicker { margin-top: 0px; }
.helparea { margin-top: 40px; }
.resultsPagination { display: none; }
.topcolourtitle { display: none; }
.featuredArticle { margin-left: -38px; margin-right: -38px; }
.titleRecommended { margin-right: -38px; }
h1 { border-bottom: 1px solid #E9E9E9; margin-bottom: 2em; }
h1, h4 { font-size: 180%; line-height: 0.9; }
#mainsection .mainsectionmenu { float: none; }
#mainTitle { font-size: 20px; margin-top: 25%; margin-bottom: 10px; }
#globalfooter { margin-left: -18px; margin-right: -18px; }
.descBox { background-color: #FFFFFF; }
.helparea #footer #globalfooter { margin: -18px; }
.tableofcontents { margin-right: -18px; }
.section { max-width: 90%; }
.leftsec { float: none; }
.rightsec { float: none; }
.resourcestwentypad {
	padding-top: 1em;
	padding-bottom: 1em;
}
	}
