@charset "utf-8";
#fixnotice { display: block; position: fixed; bottom: 0px; left: 0px; width: 100%; z-index: 1; }
.fixnotice { color: #FFFFFF; font-size: 17px; font-family: "Helvetica Light", Helvetica, "Droid Sans", Arial, Arial Unicode MS, sans-serif; text-align: center; padding-top: 13px; padding-right: 13px; padding-bottom: 13px; padding-left: 13px; }
}

/* display: block; or display: none; depending on the updated terms/privacy policy. */
