@charset "utf-8";
@media print {
body { background-color: #FFFFFF; }
.noPrint, #header, .mainart { display: none; }
.surePrint { display: block; }
.surePrint img { width: 10%; }
#wrapper { margin-top: 10px; box-shadow: none; }
#articlewrapper { margin-top: 10px; box-shadow: none; }
.articlewrapper { margin-top: 10px; box-shadow: none; }
#article { box-shadow: none; }
.helparea { box-shadow: none; }
.downloadbox { display: none; }
#mainTitle { display: none; }
.footerlegal .specialfont { display: none; }
}